<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferdydurke</title>
</head>
<body>
    <h1>Avdioknjiga Ferdydurke</h1>
    <h2>Witold Gombrowitcz</h2>
    <h3>prevedla: Katarina Šalamun-Biedrzycka</h3>
    <h4>prebral: Rok Klančar</h4>
    <audio controls th:src="@{/ferdydurke_stream}"></audio>

    <p>Nazaj na <a th:href="@{/}">domačo stran</a></p>
</body>
</html>