<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hey, this is Rok</h1>
    <p>GitHub: <a href="https://github.com/HyoMiYing">https://github.com/HyoMiYing</a></p>
    <p>YouTube: <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjxzvDNg6f9AhWMM-wKHX_JDuQQtwJ6BAgGEAE&url=https%3A%2F%2Fwww.youtube.com%2Fchannel%2FUCAn43B-hR2lobrdE5zgxoig&usg=AOvVaw2FrOGhT9UTn_ZoHNm1b4D3">My channel</a></p>

    <p>I like: 
        <ul>
            <li>maps 🗺️ and pathfinding</li>
            <li>mind mapping software</li>
        </ul>
    </p>

    <p>This website is: 
        <ul>
            <li>built with Spring MVC</li>
            <li>under continouous development</li>
        </ul>
    </p>

    <h3>I have recorded an audiobook and am building an audiobook player <a th:href="@{/ferdydurke}">here</a></h3>
    <p>It is Ferdydurke, by Witold Gombrowitcz, translated to Slovenian language 🇸🇮  by Katarina Šalamun-Biedrzycka</p>

</body>
</html>